@model IEnumerable<Transport.Delivery>
@{
    ViewBag.Title = "";

    var grid = new WebGrid(Model);
}

<h2>Edycja</h2>

@grid.GetHtml(
selectedRowStyle: "selected",
alternatingRowStyle: "alt",
columns: grid.Columns(
grid.Column("Id", format: item => item.GetSelectLink(item.ID.ToString())),
grid.Column("AddressFromId"),
grid.Column("AddressToId"),
grid.Column("CustomerId"),
grid.Column("PaymentStatus"),
grid.Column("DeliveryStatus"),
grid.Column("CreateTime", "CreateTime", item => item.CreateTime.ToString("dd.MM.yyyy")),
grid.Column("Edytuj", format: @<text><a href="@Url.Action("Edit", new { id = item.id })"><img height="30" src="@Url.Content("~/Icons/edit.png")" alt="" style="border:none;" /></a></text>, style: "colOperation"),
grid.Column("Usuń", format: @<text><a href="@Url.Action("Delete", new { id = item.id })" onclick="javascript:return ConfirmDelete();"><img height="20" src="@Url.Content("~/Icons/trash.png")" alt="" style="border:none;" /></a></text>, style: "colOperation")
))
@Html.ActionLink("Add", "Add", "Delivery")
<script type="text/javascript">
    function ConfirmDelete() {
        return confirm("Czy na pewno chcesz usunąć wybraną pozycję?");
    }
</script> 